@page
@model AboutModel
@{
    ViewData["Title"] = "Over";
}
<h1>@ViewData["Title"] ons</h1>
<hr>
<p> 
    Door de jaren heen zijn verschillende online leertools gemaakt. <br>
    De meesten zijn betaald of hebben maar een klein aanbod aan functionaliteit voor gratis gebruikers.    
</p>
<h2>Mijn visie</h2>
<p> 
    Het idee van lern is om gratis goede educatie aan iedereen met internettoegang te bieden. <br>
    Ik wil deze service hoe dan ook gratis houden, maar wel meer dingen bieden voor organisaties.<br>
    Dingen zoals samen spelend leren etc. zijn dingen die ik onder de naam van lern wil gaan ontwikkellen.   
</p>
<h2>Over mij</h2>
<div style="padding-left: 35px">
    <img src="~/images/logo.png" />
    <div>
        <h3>Even voorstellen;</h3><br>
        Hallo, ik ben Ewan Arends; Ook wel bekend onder de naam tebreca programmeer ik verschillende dingen. Lern is een van mijn projecten.<br>
        Voor school leer ik het liefst digitaal, echter zijn recent services zoals drillster en wrts betaald geworden.<br>
        Daarom heb ik besloten om lern te starten. Lern moest een service worden met een groot aanbod qua leermogelijkheden.<br>
        Mijn droom is overigens om onder andere software te ontwikkelen voor educationele instellingen.<br>
        Zoals al mijn software is lern gratis en open source, daarbij ben ik nog steeds bezig met ontwikkeling<br>
        <a href="mailto:ewan@tebreca.com">Suggesties en feedback worden altijd gewaardeerd</a>.
    </div>
</div>
