@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Tebreca</h3>
<p>
    Telefoon is voor nu privé i.v.m. spampreventie, Een mailtje sturen kan altijd. Zowel in het Nederlands als in het Engels.
</p>

<address>
    <abbr title="Telefoon">Tel:</abbr>
     privé   
</address>

<address>
    <strong>Ondersteuning:</strong> <a href="mailto:ewan@tebreca.com">ewan@tebreca.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:buisiness@tebreca.com">buisiness@tebreca.com</a>
</address>
