@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacyovereenkomst";
}
<h2>@ViewData["Title"]</h2>

<p>Wij slaan de volgende cookies op</p>
<ul>
    <li>Asp.NET core cookies</li>
    <li>meer niet</li>
</ul>

<p>Verdere data die wij opslaan zijn je email en telefoonnummer, meer niet.</p>
<p>De data die wij opslaan wordt nooit doorverkocht of weggegeven. De enigen die uw data kunnen zijn u en geauthoriseerde ontwikkelaars.</p>